/* line 1, ../../src/css/_main.sass */
h1 {
  font-family: "bitter-regular";
}

/* line 6, ../../src/css/_main.sass */
.main .home-banner {
  height: 100vh;
  background-image: url(http://blog.zeevgilovitz.com/content/images/2014/Apr/P1010158-2.jpg);
  background-size: cover;
  background-position: center center;
}
/* line 11, ../../src/css/_main.sass */
.main .home-banner .container {
  margin-top: 350px;
  margin-bottom: 300px;
}
/* line 14, ../../src/css/_main.sass */
.main .home-banner .container h1 {
  text-align: center;
  color: white;
  margin: 10px 0 10px 0;
  font-size: 5.6rem;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: white;
}
/* line 23, ../../src/css/_main.sass */
.main .home-banner .container .chevron {
  color: #666666;
  font-size: 32px;
  margin-left: -16px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -moz-animation-duration: 4s;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
/* line 34, ../../src/css/_main.sass */
.main .about-me {
  background: #e5e4e0;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
/* line 41, ../../src/css/_main.sass */
.main .about-me .container {
  margin-top: 200px;
  margin-bottom: 200px;
}
/* line 44, ../../src/css/_main.sass */
.main .about-me .container h1 {
  text-align: center;
  color: #333333;
}
/* line 49, ../../src/css/_main.sass */
.main .about-me .container .text {
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  color: #0c0c0c;
  font-family: karla, helvetica neue, helvetica, arial;
  font-size: 18px;
  font-weight: 400;
}
/* line 60, ../../src/css/_main.sass */
.main .projects {
  background: white;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  height: 100vh;
}
/* line 68, ../../src/css/_main.sass */
.main .projects .project-image img {
  max-width: 60%;
  max-height: 40%;
}
/* line 72, ../../src/css/_main.sass */
.main .projects .project-text {
  margin-top: 40px;
}
/* line 75, ../../src/css/_main.sass */
.main .projects .row {
  text-align: center;
  padding: 50px;
}
/* line 79, ../../src/css/_main.sass */
.main .projects .text {
  font-family: karla, helvetica neue, helvetica, arial;
  font-size: 18px;
  font-weight: 400;
}

/* line 85, ../../src/css/_main.sass */
.nav-item {
  cursor: pointer;
  display: block;
}

/* line 89, ../../src/css/_main.sass */
.equal, .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex: 1 0 auto;
}

/* line 96, ../../src/css/_main.sass */
section {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 100%;
  min-height: 440px;
  position: relative;
  text-align: center;
}

/* line 1, ../../src/css/_menu.sass */
header.navbar {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  height: 230px;
  border: none;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
/* line 15, ../../src/css/_menu.sass */
header.navbar .container {
  margin-left: 5px;
  margin-top: 28px;
}

/* line 24, ../../src/css/_menu.sass */
ul.navbar-nav li .nav-item {
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  border: transparent 1px solid;
  border-radius: 3px;
  transition: all ease 0.3s;
  padding: 0px 20px 0px 20px;
  margin: 10px;
  line-height: 36px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
/* line 43, ../../src/css/_menu.sass */
ul.navbar-nav li .nav-item:hover {
  color: #222222;
  border-color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.1s ease;
}
/* line 49, ../../src/css/_menu.sass */
ul.navbar-nav li .nav-item.active {
  border: 1px solid #eeeeee;
}

@font-face {
  font-family: "aileron-light";
  src: "/fonts/aileron/aileron-light-webfont";
}

@font-face {
  font-family: "aileron-thin";
  src: "/fonts/aileron/aileron-thin-webfont";
}

@font-face {
  font-family: "bitter-regular";
  src: "/fonts/bitter/bitter-regular-webfont";
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: local("Karla"), local("Karla-Regular"), url(http://themes.googleusercontent.com/static/fonts/karla/v3/QT0qO2FiFD03cwUe_t62t6CWcynf_cDxXwCLxiixG1c.woff) format("woff");
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: local("Karla Bold"), local("Karla-Bold"), url(http://themes.googleusercontent.com/static/fonts/karla/v3/3nZS3BKzlvhkwl4yjCQcjHYhjbSpvc47ee6xR_80Hnw.woff) format("woff");
}

@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: 400;
  src: local("Karla Italic"), local("Karla-Italic"), url(http://themes.googleusercontent.com/static/fonts/karla/v3/ietJ6bjhwzrJL8NSJOc2mgLUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}

@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: 700;
  src: local("Karla Bold Italic"), local("Karla-BoldItalic"), url(http://themes.googleusercontent.com/static/fonts/karla/v3/VZ08RdiotRdV1D0ewK-mxL3hpw3pgy2gAi-Ip7WPMi0.woff) format("woff");
}
