<div class="posts" id="blog">
  <div class="wrapper">
    <h1 class="page-heading">Posts</h1>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          
          <h2 class="post-title">
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: date_format }}</span>

        </li>
      {% endfor %}
    </ul>
  </div>
</div>