// .posts {
//     .post-title {
//         font: 28px/60px 'Karla', sans-serif;
//     }

//     .post-meta {
//         font: 12px/60px 'Karla', sans-serif;
//         float: right;
//     }
// }



.projects {
    .project {
        margin: 100px 20px;

        .image {
            width: calc(33% - (#{$spacing-unit} * 2));
            margin-right: auto;
            margin-left: auto;
            padding-right: $spacing-unit;
            padding-left: $spacing-unit;
            display: inline-block;
            vertical-align: top;

            @extend %clearfix;
            @include media-query($on-laptop) {
                width: -webkit-calc(#{$content-width});
                width:         calc(#{$content-width});
                padding-right: $spacing-unit / 2;
                padding-left: $spacing-unit / 2;
            }
        }

        .text {
            width: calc(66% - (#{$spacing-unit} * 2));
            margin-right: auto;
            margin-left: auto;
            padding-right: $spacing-unit;
            padding-left: $spacing-unit;
            display: inline-block;
            // text-align: center;

            @extend %clearfix;
            @include media-query($on-laptop) {
                width: -webkit-calc(#{$content-width});
                width:         calc(#{$content-width});
                padding-right: $spacing-unit / 2;
                padding-left: $spacing-unit / 2;
            }

            .title {
                font: 28px/60px 'Karla', sans-serif;
                display: block;
                margin-bottom: 20px;
            }

            .description {
                font-family: 600 'Karla', sans-serif;
            }
        }
    }
}