---
layout: default
---
{% include blog-index.html %}

<div class="projects">
  <div class="wrapper">
    <h1 class="page-heading" id="projects">Projects</h1>
    <p>I have more experimental projects on my GitHub profile, some of the larger mature projects are described below. Not all of these are entirely my own work. Some of them were created while at work or as part of a larger team.</p>
    {% for project in site.data.projects %}
      <div class="project">
        <a href="{{project.link}}" class="image"><img src="{{project.image}}"></a>
        <div class="text">
          <a href="{{project.link}}" class="title">{{project.title}}</a>
          <div class="description">{{project.description | markdownify }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>